@use "./partials/variables.scss" as *;

//bs
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//font 
@import '../../node_modules/@fontsource/montserrat/index.css';
@import '../../node_modules/@fontsource/montserrat/700.css';

body {
    font-family: $main-font;
    color: $text-color;

    height: 100vh;
    width: 100vw;
}